/* styles.css */
body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar img {
    height: 50px; /* Adjust the height as needed */
    margin-right: 30px; /* Adjust this value to increase or decrease the space */
}

.navbar a {
    color: #333; /* Text color for the links */
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.navbar a:hover {
    color: #007BFF; /* Color change on hover */
}
